#background {
    z-index: 1;
}
#foreground {
    z-index: 2;
}
#sprites {
    z-index: 3;
}
canvas {
    position: absolute; top:0px; left:0px; 
    border: 1px solid black;
    background-color: transparent;
}
body {
    margin: 0;
    text-align: center;
}
#menu {
    position: fixed;
    text-align: center;
    font-size: 300%;
    top: 80%;
    left: 70%;
    background: white;
    z-index: 4;
    width: 20%;
}

.fight:hover span.selector {color: black;}
.fight span.selector {color: transparent;}
.party:hover span.selector {color: black;}
.party span.selector {color: transparent;}
.bag:hover span.selector {color: black;}
.bag span.selector {color: transparent;}
.run:hover span.selector {color: black;}
.run span.selector {color: transparent;}

.buttonDef {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 33.25%;
    margin: 4px 2px;
    cursor: pointer;
    width: 150px;
    height: 50px;
  }

.buttonDef:hover {
    font-weight: bold;
}  

#reset {
    position: fixed;
    background: transparent;
    top: 80%;
    left: 70%;
    z-index: 5;
}